<div id="top"></div>
<header>
  <div class="container">
    <div class="row">
      <div class="xs-icon visible-xs col-xs-2">
        <button type="button" name="button" class="nav-icon xs-icon-nav" id="open-menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="brand col-md-2 col-sm-4 col-xs-6">
        <a href="/" class="brand-logo"></a>
      </div>
      <div class="xs-icon visible-xs col-xs-4">
        <a href="/search">
          <span class="sr-only">search button</span>
          <i class="material-icons color-white fz-2em">&#xE8B6;</i>
        </a>
        <a href="/shoppingcart" type="button" name="button" class="nav-icon" id="cart">
          <span class="sr-only">shopping cart</span>
          <i class="material-icons cart"></i>
          <span class="icon-badge">9</span>
        </a>
      </div>
      <div class="navigation col-md-5 col-sm-8 hidden-xs mt-45 text-center">
        <ul class="inline-block gray-item">
          <li>
            <a href="#" class="login">
              <i class="material-icons">&#xE7FD;</i>
              註冊/登入
            </a>
          </li>
          <li>
            <a href="/news">
              <i class="material-icons">&#xE7F4;</i>
              最新消息
            </a>
          </li>
          <li>
            <a href="/shoppingcart">
              <i class="material-icons">&#xE8CC;</i>
              購物車
              <span class="badge bg-gray relative" style="top: -1px;">9</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="search col-md-5 col-sm-12 col-xs-12 mt-40 hidden-xs">
        <div class="input-group">
          <input class="form-control height-45" type="search-product" name="search-product"  placeholder="請輸入商品名稱或關鍵字">
          <span class="input-group-btn">
            <a href="/search">
              <button class="btn btn-gray height-45" type="submit" name="search-product">
                <i class="material-icons color-white">&#xE8B6;</i>
              </button>
            </a>
          </span>
        </div>
      </div>
    </div>
    <% if (category_bar) { %>
      <div class="category-bar mt-25 hidden-xs">
        <div class="category hidden-xs w100 clearfix under-line relative text-center" style="padding-bottom: 0;">
          <ul class="inline-block gray-item hover-red">
            <% for( var i = 0; i < 7; i++ ) { %>
              <li class="menu-item">
                <a href="/pdlist">
                  頂層分類<%= i %>
                  <i class="material-icons fix-icon hidden-sm hover-rotate-180">&#xE5C5;</i>
                </a>
                <div class="sub-menu">
                  <ul class="clearfix text-left lh-2em">
                      <li class="item-4 primary-category-wrap">
                        <div class="primary-category">
                          <a href="/pdlist" class="">主分類主分類主分類主分類主分類主分類<%= i %>-1</a>
                        </div>
                        <ul class="pd-10 inline-block">
                          <li><a href="/pdlist">次分類次分類次分類<%= i %>-1-1</a></li>
                          <li><a href="/pdlist">次分類<%= i %>-1-2</a></li>
                          <li><a href="/pdlist">次分類<%= i %>-1-3</a></li>
                          <li><a href="/pdlist">次分類<%= i %>-1-4</a></li>
                          <li><a href="/pdlist">次分類<%= i %>-1-5</a></li>
                          <li><a href="/pdlist">次分類<%= i %>-1-6</a></li>
                          <li><a href="/pdlist">次分類<%= i %>-1-7</a></li>
                          <div class="show-more"><a href="#">more...</a></div>
                        </ul>
                      </li>
                      <li class="item-4 primary-category-wrap">
                        <div class="primary-category">
                          <a href="/pdlist" class="">主分類<%= i %>-1</a>
                        </div>
                        <ul class="pd-10 inline-block">
                          <li><a href="/pdlist">次分類<%= i %>-1-1</a></li>
                          <li><a href="/pdlist">次分類<%= i %>-1-2</a></li>
                          <li><a href="/pdlist">次分類<%= i %>-1-3</a></li>
                        </ul>
                      </li>
                      <li class="item-4 primary-category-wrap">
                        <div class="primary-category">
                          <a href="/pdlist" class="">主分類<%= i %>-1</a>
                        </div>
                        <ul class="pd-10 inline-block">
                          <li><a href="/pdlist">次分類<%= i %>-1-1</a></li>
                          <li><a href="/pdlist">次分類<%= i %>-1-2</a></li>
                          <li><a href="/pdlist">次分類<%= i %>-1-3</a></li>
                        </ul>
                      </li>
                      <li class="item-4 primary-category-wrap">
                        <div class="primary-category">
                          <a href="/pdlist" class="">主分類<%= i %>-1</a>
                        </div>
                        <ul class="pd-10 inline-block">
                          <li><a href="/pdlist">次分類<%= i %>-1-1</a></li>
                          <li><a href="/pdlist">次分類<%= i %>-1-2</a></li>
                          <li><a href="/pdlist">次分類<%= i %>-1-3</a></li>
                        </ul>
                      </li>
                      <li class="item-4 primary-category-wrap">
                        <div class="primary-category">
                          <a href="/pdlist" class="">主分類<%= i %>-1</a>
                        </div>
                        <ul class="pd-10 inline-block">
                          <li><a href="/pdlist">次分類<%= i %>-1-1</a></li>
                          <li><a href="/pdlist">次分類<%= i %>-1-2</a></li>
                          <li><a href="/pdlist">次分類<%= i %>-1-3</a></li>
                        </ul>
                      </li>
                      <li class="item-4 primary-category-wrap">
                        <div class="primary-category">
                          <a href="/pdlist" class="">主分類<%= i %>-1</a>
                        </div>
                        <ul class="pd-10 inline-block">
                          <li><a href="/pdlist">次分類<%= i %>-1-1</a></li>
                          <li><a href="/pdlist">次分類<%= i %>-1-2</a></li>
                          <li><a href="/pdlist">次分類<%= i %>-1-3</a></li>
                        </ul>
                      </li>
                  </ul>
                </div>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    <% } %>
  </div>
</header>

<nav class="menu-left" id="menu-toggle">
  <div class="content" id="menu-content">
    <div class="menu-header text-center">
      <a href="#" class="color-white hover-white mr-45 login fz-1p5em lh-2em">登入</a>
      <a href="/register" class="color-white hover-white fz-1p5em lh-2em">註冊</a>
      <!-- <div class="fz-1em lh-3em">
        <span class="fz-1p1em mr-5 inline-block w10">Hi!</span>
        <span class="username inline-block w80">magicsung@gmail.com</span>
      </div> -->
    </div>
    <ul class="menu-items">
      <li class="menu-item">
        <a href="#" class="menu-link menu-collapse collapse-open">會員中心</a>
        <ul class="menu-sub-items">
          <li class="menu-sub-item"><a href="/membercenter" class="menu-link">查詢訂單</a></li>
          <li class="menu-sub-item"><a href="#" class="menu-link">退貨/取消訂單</a></li>
          <li class="menu-sub-item"><a href="/profile" class="menu-link">修改會員資料</a></li>
          <li class="menu-sub-item"><a href="#" class="menu-link">抽獎登錄</a></li>
          <li class="menu-sub-item"><a href="#" class="menu-link">得獎名單</a></li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link menu-collapse collapse-open">關於我們</a>
        <ul class="menu-sub-items">
          <li class="menu-sub-item"><a href="#" class="menu-link">認識台灣禮品館</a></li>
          <li class="menu-sub-item"><a href="/news" class="menu-link">最新消息</a></li>
          <li class="menu-sub-item"><a href="/location" class="menu-link">哪裡買</a></li>
        </ul>
      </li>
      <li class="menu-item"><a href="#" class="menu-link">購物車</a></li>

      <% for( var i = 0; i < 6; i++ ) { %>
        <li class="menu-item bg-gray-light"><a class="menu-link link-white">頂層分類</a></li>
        <li class="menu-item">
          <a href="#" class="menu-link menu-collapse collapse-open">主分類</a>
          <ul class="menu-sub-items">
            <li class="menu-sub-item"><a href="/pdlist" class="menu-link">次分類</a></li>
            <li class="menu-sub-item"><a href="#" class="menu-link">次分類</a></li>
            <li class="menu-sub-item"><a href="#" class="menu-link">次分類</a></li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-link menu-collapse collapse-open">主分類</a>
          <ul class="menu-sub-items">
            <li class="menu-sub-item"><a href="/pdlist" class="menu-link">次分類</a></li>
            <li class="menu-sub-item"><a href="#" class="menu-link">次分類</a></li>
            <li class="menu-sub-item"><a href="#" class="menu-link">次分類</a></li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-link menu-collapse collapse-open">主分類</a>
          <ul class="menu-sub-items">
            <li class="menu-sub-item"><a href="/pdlist" class="menu-link">次分類</a></li>
            <li class="menu-sub-item"><a href="#" class="menu-link">次分類</a></li>
            <li class="menu-sub-item"><a href="#" class="menu-link">次分類</a></li>
          </ul>
        </li>
      <% } %>
      <li class="menu-item bg-gray-light"><a class="menu-link link-white">頂層分類</a></li>

      <li class="menu-item">
        <a href="#" class="menu-link menu-collapse collapse-open">熱門排行</a>
        <ul class="menu-sub-items">
          <li class="menu-sub-item"><a href="/pdlist" class="menu-link">pdlist</a></li>
          <li class="menu-sub-item"><a href="#" class="menu-link">sub title</a></li>
          <li class="menu-sub-item"><a href="#" class="menu-link">sub title</a></li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link menu-collapse collapse-open">Language</a>
        <ul class="menu-sub-items">
          <li class="menu-sub-item"><a href="#" class="menu-link">繁體中文</a></li>
          <li class="menu-sub-item"><a href="#" class="menu-link">簡體中文</a></li>
          <li class="menu-sub-item"><a href="#" class="menu-link">English</a></li>
          <li class="menu-sub-item"><a href="#" class="menu-link">Japanese</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div id="close-menu"></div>
</nav>
